<a class="nav-item nav-link active" asp-controller="Root" asp-action="Index">Home</a>
<a class="nav-item nav-link" asp-controller="Podcast" asp-action="Index">Podcast</a>
<a class="nav-item nav-link" asp-controller="Road Trip" asp-action="Index">Road Trip</a>
<a class="nav-item nav-link" asp-controller="Root" asp-action="About">About</a>
<a class="nav-item nav-link" asp-controller="Root" asp-action="Contact">Contact</a>
