<a class="nav-item nav-link active" asp-controller="Root" asp-action="Index">Home</a>
<a class="nav-item nav-link" asp-controller="Podcast" asp-action="Index">Podcast</a>
<a class="nav-item nav-link" href="http://hwroadtrip.com">Road Trip</a>
<a class="nav-item nav-link" asp-controller="Books" asp-action="Index">Books</a>
<a class="nav-item nav-link" asp-controller="Courses" asp-action="Index">Courses</a>
<a class="nav-item nav-link" asp-controller="Root" asp-action="Contact">Contact</a>
