@inject WilderBlog.Services.DataProviders.CoursesProvider courses

<div class="col-lg-12">
  <a asp-controller="Root" asp-action="About" class="text-xs-center"><img src="~/img/turning-2016.gif" alt="Shawn" class="img-fluid img-rounded center-block" /></a>
</div>
<div class="col-lg-12">
  <div class="text-xs-center"><strong>Shawn Wildermuth</strong></div>
  <div class="text-xs-center"><small>Author, Teacher, and Coach</small></div>
  <ul class="list-inline  sidebar-icon-list text-xs-center">
    <li class="list-inline-item">
      <a href="http://feeds.feedburner.com/ShawnWildermuth">
        <span class="fa fa-stack">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://twitter.com/shawnwildermuth">
        <span class="fa fa-stack">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://instagram.com/shawnwildermuth">
        <span class="fa fa-stack">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="http://shawnw.me/psauthor">
        <span class="fa fa-stack">
          <i class="fa fa-square fa-stack-2x"></i>
          <img src="/img/pslogo-new-inverse.png" alt="Pluralsight" class="pluralsight-logo pluralsight-logo-small" />
        </span>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://github.com/shawnwildermuth">
        <span class="fa fa-stack">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-github fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="http://stackoverflow.com/users/40125/shawn-wildermuth">
        <span class="fa fa-stack">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="http://www.amazon.com/-/e/B001H6ME46">
        <span class="fa fa-stack">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-amazon fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
  </ul>
</div>
@if (((string)ViewContext.RouteData.Values["controller"]) != "Search")
{
  <hr />
  <form id="searchForm" novalidate>
    <div class="input-group">
      <input type="text" class="form-control" id="search" value="@ViewBag.Term" required placeholder="Search..." />
      <span class="input-group-btn">
        <button class="btn btn-success" type="submit"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </form>
}
<hr />
<h3>My Courses</h3>
<div><a href="http://shareasale.com/r.cfm?b=620905&u=1286446&m=53701&urllink=&afftrack=" target="_blank"><img src="~/img/ps_logo.png" class="img-fluid" alt="pluralsight" /></a></div>
<div class="text-md-center"><small><a href="http://shareasale.com/r.cfm?b=620905&u=1286446&m=53701&urllink=&afftrack=">Start Your Free Trial Now!</a></small></div>
<table class="table table-condensed table-striped table-sm">
  @foreach (var c in courses.Get().Take(10))
  {
    <tr><td><small><a href="http://pluralsight.com/courses/@c.Id" target="_blank">@c.Name @c.Hint</a></small></td></tr>
  }
</table>
