@model BlogStory
<div class="col-12 col-md-12 col-lg-6 col-xl-4 my-1">
  <div class="card bg-light story-brief">
    <div class="card-img-top">
      <a href="/@Model.Slug">
        <div class="d-md-flex align-content-md-center p-md-1 img-top-container">
          <div class="featured-image" style="background-image: url('@(Model.FeatureImageUrl)')"></div>
          @*<img src="" alt="@Model.Title" class="img-fluid align-self-md-baseline" />*@
        </div>
      </a>
    </div>
    <div class="card-body">
      <div class="card-title"><a href="/@Model.Slug">@Model.Title</a></div>
      <div class="card-subtitle">
        <small><i class="fas fa-calendar"></i>&nbsp;@Model.DatePublished.AddHours(-4).ToString("MMMM dd, yyyy")</small><br />
        <small><i class="fas fa-comments"></i> <span class="disqus-comment-count" data-disqus-identifier="@Model.UniqueId">No Comments</span></small>
      </div>
    </div>
  </div>
</div>

