@model BlogStory
<div class="hover:bg-yellow-100 border p-1">
  <a href="/@Model.Slug">
    <div class="w-full h-48 bg-cover bg-center" style="background-image: url('@(Model.FeatureImageUrl)')"></div>
  </a>
  <div class="h-16">
    <h3><a href="/@Model.Slug">@Model.Title</a></h3>
  </div>
  <div class="ml-8 text-lg">
    <small><i class="fas fa-calendar"></i>&nbsp;@Model.DatePublished.AddHours(-4).ToString("MMMM dd, yyyy")</small><br />
    <small><i class="fas fa-comments"></i> <span class="disqus-comment-count" data-disqus-identifier="@Model.UniqueId">No Comments</span></small>
  </div>
</div>

