a {
  color: #744a00;
}
.page-link {
  color: #744a00;
}
.page-item.active .page-link {
  background-color: #744a00;
  border-color: #744a00;
}
.navbar {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
hr.tiny-hr {
  padding: 0;
  margin: 2px 0;
}
.appearance-block {
  font-size: 80%;
}
ul.course-list {
  font-size: 80%;
}
ul.course-list li {
  list-style-type: square;
  list-style-position: outside;
  margin-left: -20px;
}
h3 {
  color: #744a00;
  font-weight: 600;
}
footer .list-inline {
  text-align: center;
}
.navbar {
  height: 60px;
}
.navbar .navbar-toggler {
  color: #fff;
}
.responsiveMenu .nav-link {
  line-height: 50px;
  border-bottom: 1px dotted #888;
}
body {
  margin-top: 60px;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eee;
  font-style: normal;
}
blockquote:hover {
  border-left: 5px solid #744a00;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 30px 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 50px 0;
  }
}
.pluralsight-logo {
  width: 33px;
  position: absolute;
  display: inline-block;
  left: 13px;
  top: 10px;
}
.pluralsight-logo:hover {
  cursor: pointer;
}