// Site.css
@hoverColor: #004a9b;

a, p a {
  color: @hoverColor;
  text-decoration: none;
}

a:hover, p a:hover {
  text-decoration: underline;
  color: lighten(@hoverColor, 25%);
}

.fa-hover-spin {
  &:hover {
    -webkit-animation: fa-spin 2s infinite linear;
    -moz-animation: fa-spin 2s infinite linear;
    -o-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
  }
}

.sidebar-icon-list li.list-inline-item {
  margin-left: -3px;
  margin-right: -6px;
}

.pluralsight-logo.pluralsight-logo-small {
  margin-left: -3px;
  max-width: 22px;
}

.page-link {
  color: @hoverColor;
}

a img:hover, a img:focus {
  cursor: pointer;
}

.page-item.active .page-link {
  background-color: @hoverColor;
  border-color: @hoverColor;
}

.navbar {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

hr.tiny-hr {
  padding: 0;
  margin: 2px 0;
}

.appearance-block {
  font-size: 80%;
}

ul.course-list {
  font-size: 80%;

  li {
    list-style-type: square;
    list-style-position: outside;
    margin-left: -20px;
  }
}

h3 {
  color: @hoverColor;
  font-weight: 600;
}

footer .list-inline {
  text-align: center;
}

.navbar {
  height: 60px;

  .navbar-toggler {
    color: #fff;
  }
}

.responsiveMenu {

  .nav-link {
    line-height: 50px;
    border-bottom: 1px dotted #888;
  }
}

body {
  margin-top: 60px;
}

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eee;
  font-style: normal;
}

blockquote:hover {
  border-left: 5px solid @hoverColor;
}

.intro-header {
  .site-heading, .post-heading, .page-heading {
    padding: 30px 0;
  }
}


@media only screen and (min-width: 768px) {
  .intro-header {
    .site-heading, .post-heading, .page-heading {
      padding: 50px 0;
    }
  }
}

.pluralsight-logo {
  width: 33px;
  position: absolute;
  display: inline-block;
  left: 13px;
  top: 10px;

  &:hover {
    cursor: pointer;
  }
}
