body {
  font-size: 22px;
}
p {
  font-size: 1.1rem;
  margin: 15px 0;
}
.syntaxhighlighter {
  overflow-y: hidden !important;
  overflow-x: auto !important;
  font-size: 0.8em !important;
}
.ad-top {
  text-align: right;
  background: black;
  width: 100%;
}
img.pull-right {
  float: right;
}
.navbar-nav .nav-link {
  font-size: 1rem;
  padding-right: 0.3rem;
  padding-left: 0.3rem;
}
.navbar .navbar-brand {
  color: #eee;
}
.show > .nav-pills .nav-link:not(.active) {
  background-color: transparent;
}
.navbar .navbar-brand:hover {
  text-decoration: none;
  color: #fff;
}
.nav-pills .nav-link {
  color: #eee;
}
.navbar-nav .nav-item + .nav-item {
  margin-left: 0.3rem;
}
.navbar-nav .nav-item .nav-link a:hover {
  text-decoration: none;
}
#info-table {
  font-size: 0.9rem;
}
.center-block {
  margin: 0 auto;
}
[v-cloak] {
  display: none;
}
#menu {
  background: #373737 none repeat scroll 0 0;
  border: 1px solid black;
  left: -175px;
  padding: 2px;
  position: fixed;
  top: 60px;
  width: 175px;
  max-width: 50%;
  z-index: 999;
  -moz-transition-property: left;
  -o-transition-property: left;
  -webkit-transition-property: left;
  transition-property: left;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -moz-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
#menu a {
  color: white;
  border: 1px solid transparent;
}
#menu a:hover {
  border: 1px solid #888;
}
#menu.shown {
  left: 0;
  -moz-transition-property: left;
  -o-transition-property: left;
  -webkit-transition-property: left;
  transition-property: left;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -moz-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.navbar-nav a.nav-link:hover {
  text-decoration: none;
}
a:not(.btn),
p a:not(.btn) {
  color: #003772;
  text-decoration: none;
}
.post-card blockquote p a {
  font-weight: 300;
}
.post-card p a {
  font-weight: 500;
}
.post-meta {
  font-weight: 500;
}
a:not(.btn):hover,
p a:not(.btn):hover {
  text-decoration: underline;
  color: #3f9cff;
}
a.btn {
  text-decoration: none;
}
a.btn:hover {
  text-decoration: none;
}
.ad-card {
  padding: 8px 8px 0 8px;
  color: #2b2b2b;
  border-radius: 0;
  -webkit-box-shadow: 3px 3px 9px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 3px 9px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 3px 9px 1px rgba(0, 0, 0, 0.25);
}
.fa-hover-spin:hover {
  -webkit-animation: fa-spin 2s infinite linear;
  -moz-animation: fa-spin 2s infinite linear;
  -o-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
@media (min-width: 1600px) {
  .container {
    max-width: 1540px;
  }
}
.form-control.inline {
  display: inline;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
  margin-bottom: 20px;
  border: 1px solid #888;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overflow-hidden {
  overflow: hidden;
}
.post-card {
  margin-bottom: 5px;
}
.headshot img {
  max-width: 100%;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.headshot img:hover {
  -moz-transform: scale(1.25) rotate(-5deg);
  -ms-transform: scale(1.25) rotate(-5deg);
  -o-transform: scale(1.25) rotate(-5deg);
  -webkit-transform: scale(1.25) rotate(-5deg);
  transform: scale(1.25) rotate(-5deg);
}
.headshot .card {
  min-height: 280px;
}
.headshot a:hover {
  text-decoration: none;
}
.sidebar-icon-list li.list-inline-item {
  margin-left: -3px;
  margin-right: -6px;
}
.pluralsight-logo.pluralsight-logo-small {
  margin-left: -3px;
  max-width: 18px;
}
.page-link {
  color: #003772;
}
a img:hover,
a img:focus {
  cursor: pointer;
}
.page-item.active .page-link {
  background-color: #003772;
  border-color: #003772;
}
.navbar {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
}
.navbar .navbar-toggler {
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
hr.tiny-hr {
  padding: 0;
  margin: 2px 0;
}
.appearance-block {
  font-size: 80%;
}
ul.course-list {
  font-size: 80%;
}
ul.course-list li {
  list-style-type: square;
  list-style-position: outside;
  margin-left: -20px;
}
.story-title {
  color: #003772;
  font-weight: 600;
}
h3 {
  color: #003772;
  font-weight: 600;
}
footer .list-inline {
  text-align: center;
}
ul li {
  font-size: 1.1rem;
}
ol li {
  font-size: 1.1rem;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eee;
  font-style: normal;
}
blockquote:hover {
  border-left: 5px solid #003772;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 30px 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 50px 0;
  }
}
.calendar-logo {
  max-height: 100px;
  max-width: 200px;
}
.calendar-logo.reverse {
  padding: 5px;
  background-color: #444;
}
.pluralsight-logo {
  width: 29px;
  position: absolute;
  display: inline-block;
  left: 13px;
  top: 8px;
}
.pluralsight-logo:hover {
  cursor: pointer;
}