@model BlogResult
@{
  ViewBag.Title = "Shawn Wildermuth's Rants and Raves";
  ViewBag.PageName = "Search Results";
  ViewBag.PageBlurb = $"#/Results: {Model.TotalResults}";
  ViewBag.PageImage = "/img/headers/search.jpg";
  ViewBag.ControllerName = "Search";
}
<div class="row">
  <div class="col-lg-12">
    <form id="searchForm" novalidate>
      <div class="input-group">
        <input type="text" class="form-control form-control-lg" id="search" value="@ViewBag.Term" required placeholder="Search Term..." />
        <span class="input-group-btn">
          <button class="btn btn-success btn-lg" type="submit"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form>
  </div>
</div>
@if (Model.Stories != null)
{
  <div class="row">
    <div class="col-lg-12">
      @Html.Partial("_Pager")
    </div>
  </div>
  @foreach (var story in Model.Stories)
  {
    @Html.Partial("_StoryBrief", story)
  }

  <div class="row">
    <div class="col-lg-12">
      @Html.Partial("_Pager")
    </div>
  </div>
}