@model BlogResult
@{
  ViewBag.Title = "Shawn Wildermuth's Rants and Raves";
  ViewBag.PageName = "Search";
  if (!string.IsNullOrWhiteSpace(ViewBag.Term))
  {
    ViewBag.PageBlurb = $"Search Term: {ViewBag.Term} - #/Results: {Model.TotalResults}";
  }
  else
  {
    ViewBag.PageBlurb = "Please enter a search term to search for blog entries";
  }
  ViewBag.PageImage = "/img/headers/search.jpg";
  ViewBag.ControllerName = "Search";
}
<form id="searchForm" novalidate>
  <div class="flex justify-start">
    <input type="text" id="searchInput" value="@ViewBag.Term" required placeholder="Search Term..." />
    <button type="submit" class="btn btn-success w-min"><i class="fas fa-search"></i></button>
  </div>
</form>
@if (Model.Stories != null)
{
  <div class="grid grid-cols-3 gap-1">
    @foreach (var story in Model.Stories)
    {
      <partial name="_StoryBrief" model="story" />
    }
  </div>

  <div class="row">
    <div class="col-lg-12">
      <partial name="_Pager" />
    </div>
  </div>
}