@model BlogResult
@{
  ViewBag.Title = $"Tag: {ViewContext.RouteData.Values["tag"]} - Shawn Wildermuth's Rants and Raves";
  ViewBag.PageName = $"Stories";
  ViewBag.PageBlurb = $"Tagged with {ViewContext.RouteData.Values["tag"]}";
  ViewBag.PageImage = "/img/headers/search.jpg";
  ViewBag.ControllerName = "Tag";
}
@if (Model.Stories != null)
{
  <div class="row">
    @foreach (var story in Model.Stories)
    {
      <partial name="_StoryBrief" model="story" />
    }
  </div>

  <div class="row">
    <div class="col-lg-12">
      <partial name="_Pager" />
    </div>
  </div>
}