@model  WilderBlog.Services.DataProviders.PodcastEpisode
@{
  ViewBag.Title = $"Hello World Podcast: Episode {Model.EpisodeNumber} - {Model.GuestName}";
  ViewBag.PageName = $"Episode {Model.EpisodeNumber} - {Model.GuestName}";
  ViewBag.PageBlurb = $"Released: {Model.PublishedDate.ToString("d")}";
  ViewBag.PageImage = "/img/headers/podcast.jpg";


}
@section Styles {
  <link href="~/3rdparty/css/audioplayer.css" rel="stylesheet" />
}
@section Scripts {
  <script src="~/3rdparty/js/audioplayer.min.js"></script>

}
@Html.Partial("_Episode", Model)
<hr />
<a asp-controller="Podcast" asp-action="Index" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> All Episodes</a>
