@{
  ViewBag.Title = "Shawn Wildermuth's Rants and Raves";
  ViewBag.PageName = "Contact Me";
  ViewBag.PageBlurb = "Send a Message to Shawn Wildermuth";
  ViewBag.PageImage = "/img/headers/about.jpg";
}
@inject IConfiguration config
@section styles {
}
@section Scripts {
  <script src="https://www.google.com/recaptcha/api.js?render=@config["Google:CaptchaSiteId"]"></script>
  <script>
    window.captchaId = '@config["Google:CaptchaSiteId"]';
  </script>
  <environment include="Development">
    <script src="~/js/recaptcha.js"></script>
    <script src="~/app/js/chunk-vendors.js"></script>
    <script src="~/app/js/contact.js"></script>
  </environment>
  <environment exclude="Development">
    <script src="~/app/js/chunk-vendors.js" asp-append-version="true"></script>
    <script src="~/app/js/contact.js" asp-append-version="true"></script>
  </environment>
}
<div id="contact"></div>
<hr />