@{
  ViewBag.Title = "Shawn Wildermuth's Rants and Raves";
  ViewBag.PageName = "Contact Me";
  ViewBag.PageBlurb = "Send a Message to Shawn Wildermuth";
  ViewBag.PageImage = "/img/headers/about.jpg";
}
@section Scripts {
  <!-- IE required polyfills, in this exact order -->
  <script src="~/lib/angular2/es6-shim.js"></script>
  <script src="~/lib/angular2/system-polyfills.js"></script>
  <script src="~/lib/angular2/angular2-polyfills.js"></script>

  <script src="~/lib/angular2/system.src.js"></script>
  <script src="~/lib/angular2/Rx.js"></script>
  <script src="~/lib/angular2/angular2.dev.js"></script>
  <script src="~/lib/angular2/http.dev.js"></script>

  <script src="~/js/config.js"></script>
  <script>
    System.import('./app/main')
          .then(null, console.error.bind(console));
  </script>
}
<div class="col-lg-6 col-lg-offset-3">
  <contact-form><div style="text-align: center;"><i class="fa fa-rebel fa-spin fa-lg"></i></div></contact-form>
</div>