@{
  ViewBag.Title = "Error Occurred - Shawn Wildermuth's Rants and Raves";
  ViewBag.PageName = "Unknown Error";
  ViewBag.PageBlurb = "Something went wrong...";
  ViewBag.PageImage = "/img/headers/cats.jpg";
  ViewBag.ControllerName = "Root";
}
<h3>An unknown error has occurred. It's been logged. Please try again later.</h3>