@{
  ViewBag.Title = "Error - Shawn Wildermuth's Rants and Raves";
  ViewBag.PageName = "Error";
  ViewBag.PageBlurb = "Something went wrong...";
  ViewBag.PageImage = "/img/headers/cats.jpg";
  ViewBag.ControllerName = "Root";
}
<h1>Sorry, you've reached a missing page...</h1>