@{
  ViewBag.Title = "Error - Shawn Wildermuth's Rants and Raves";
  ViewBag.PageName = "Error";
  ViewBag.PageBlurb = "Something went wrong...";
  ViewBag.PageImage = "/img/headers/cats.jpg";
  ViewBag.ControllerName = "Root";
}
<h3>Sorry, an error has occurred. It has been logged. Please try again later.</h3>