@{
  ViewBag.Title = "Shawn Wildermuth's Rants and Raves";
  ViewBag.PageName = "Shawn Wildermuth";
  ViewBag.PageBlurb = "My Rants and Raves about technology, programming, everything else...";
  ViewBag.PageImage = "/img/blog/shawnteaching.png";
}
@model IEnumerable<Story>

@foreach (var story in Model)
{
  <h3>@story.Title</h3>
  @Html.Raw(@story.Body)
}