@inject WilderBlog.Services.DataProviders.CalendarProvider appearances
@model BlogResult
@{
  ViewBag.Title = "Shawn Wildermuth's Rants and Raves";
  ViewBag.PageName = "The Blog";
  ViewBag.PageBlurb = "My Rants and Raves about technology, programming, everything else...";
  ViewBag.ControllerName = "Root";
}
@foreach (var story in Model.Stories)
{
  <partial name="_StoryBrief" model="story" />
}

<div class="row">
  <div class="col-lg-12">
    <partial name="_Pager" />
  </div>
</div>
