@inject WilderBlog.Services.DataProviders.CalendarProvider appearances
@model BlogResult
@{
  ViewBag.Title = "Rants and Raves of a Cynical Software Developer";
  ViewBag.PageName = "The Blog";
  ViewBag.PageBlurb = "My Rants and Raves about technology, programming, everything else...";
  ViewBag.ControllerName = "Root";
}
<div class="grid grid-cols-3 gap-1">
  @foreach (var story in Model.Stories)
  {
    <partial name="_StoryBrief" model="story" />
  }
</div>

<div>
  <partial name="_Pager" />
</div>
