@inject WilderBlog.Services.DataProviders.CalendarProvider appearances
@model BlogResult
@{
  ViewBag.Title = "Rants and Raves of a Cynical Software Developer";
  ViewBag.PageName = "The Blog";
  ViewBag.PageBlurb = "My Rants and Raves about technology, programming, everything else...";
  ViewBag.ControllerName = "Root";
}
@section SideBar {
  <form id="searchForm" novalidate>
    <div class="flex justify-start text-sm ">
      <input type="text" id="searchInput" class="w-32" value="@ViewBag.Term" required placeholder="Search Stories..." />
      <button type="submit" class="btn w-min"><i class="fas fa-search"></i></button>
    </div>
  </form>
}
<div class="grid grid-cols-3 gap-1">
  @foreach (var story in Model.Stories)
  {
    <partial name="_StoryBrief" model="story" />
  }
</div>

<div>
  <partial name="_Pager" />
</div>
