@{
  ViewBag.Title = "Path Not Found - Shawn Wildermuth's Rants and Raves";
  ViewBag.PageName = "Page Not Found";
  ViewBag.PageBlurb = "Sorry...";
  ViewBag.PageImage = "/img/headers/cats.jpg";
  ViewBag.ControllerName = "Root";
}
<h3>The Page you're looking for couldn't be found.</h3><p class="lead">Please use the <a asp-controller="Root" asp-action="contact">contact page</a> to tell Shawn what you were looking for.</p>