@model IEnumerable<WilderBlog.Services.DataProviders.Video>
@{
  ViewBag.Title = "My Videos - Shawn Wildermuth's Rants and Raves";
  ViewBag.PageName = "My Videos";
  ViewBag.PageBlurb = "A collection of my instructional videos";
  ViewBag.PageImage = "/img/headers/video.jpg";
}
<div class="row">
  @foreach (var v in Model)
  {
    <div class="col-xl-8 offset-xl-2 col-lg-12">
      <div class="card ">
        <div class="card-block">
          <button class="btn pull-right btn-primary-outline video-toggle" data-id="@v.Id">Show Video</button>
          <h3 class="card-title">@v.Title</h3>
          <div class="card-text"><small>Published: @v.DatePublished.ToLongDateString()</small></div>
          <p class="card-text">@v.Description</p>

        </div>
        <div class="video-container collapse" id="video-@v.Id">
          @if (v.VideoType == WilderBlog.Services.DataProviders.VideoType.YouTube)
        {
            <iframe width="480" height="320" data-src="https://www.youtube.com/embed/@(v.VideoCode)?rel=0" frameborder="0" allowfullscreen></iframe>
          }
        </div>
      </div>
    </div>
  }
</div>